.intro-section {
  background-image: url(images/img-table-mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
}

.intro-img {
  width: 20rem;
}

/* ### CITY SECTION ### */
.img-city {
  width: 100%;
}
/* ### LANGUAGES SECTION ### */
table {
  width: 100%;
  margin-top: 18px;
}

tr {
  background-color: lightgray;
  height: 25px;
  font-size: 1.125rem;
}
th {
  width: 10rem;
}

/* ### HISTORICAL SECTION ### */
.historical-places {
  display: flex;
  gap: 35px;
}
.places-img {
  float: right;
  object-fit: cover;
  width: 13rem;
  margin-right: 10px;
}
.historical-places p {
  width: 33ch;
}

/* @@@@ QUERIES @@@@ */
@media only screen and (max-width: 33.75em) {
  body {
    /* background-color: red; */
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  /* ### HISTORICAL SECTION ### */
  .historical-places {
    display: block;
    gap: 35px;
  }
  .place1 img,
  .place3 img {
    margin-right: revert;
    margin-left: 10px;
  }
  .place2 img {
    float: left;
  }
}
