@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Merriweather:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* GENERAL STYLES */
html {
  font-size: 62.5%;
}
body {
  font-family: "Epilogue", sans-serif;
  font-family: "Merriweather", serif;
  padding-bottom: 72px;
}
.background-image,
.city-container,
.languages-container {
  margin-bottom: 72px;
}
h1 {
  font-size: 3.6rem;
  color: #fff;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 32px;
}
h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 9px;
}
p {
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.3px;
}
.places-text {
  font-size: 1.4rem;
}
h2,
p,
.city-img,
.table,
.place1,
.place3 {
  padding-inline: 10px;
}

/* UTILITY CLASSES */
.centering--container {
  max-width: 120rem;
  margin: 0 auto;
}

.display--flex {
  display: flex;
}
/* INTRO SECTION */
.background-image {
  background-image: url(images/img-table-mountain.jpg);
  background-size: 100%;
  padding-block: 11%;
  background-repeat: no-repeat;
}
.background-image .display--flex {
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}
.intro-img {
  width: 30rem;
}
/* CITY SECTION */
.city-container {
  gap: 36px;
  align-items: center;
}
.city-img {
  float: left;
  margin-right: 20px;
  width: 45rem;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
/* LANGUAGES SECTION */
.languages-text {
  width: revert;
}
.first-row {
  background-color: darkgray;
  color: white;
  font-size: 1.4rem;
}
table {
  width: 100%;
  margin-top: 18px;
}

tr {
  background-color: lightgray;
  height: 30px;
  font-size: 1.6rem;
}
th {
  width: 10rem;
}
/* HISTORICAL SECTION */
.historical-section {
  justify-content: space-between;
  gap: 20px;
}
.places-img {
  float: right;
}
.places-img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  margin-left: 5px;
}
p.places-text {
  width: revert;
  padding-inline: revert;
}
/* ===== QUERIES ===== */
@media (max-width: 46.2em /* ~738px */) {
  /* GENERAL STYLES */
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  /* INTRO SECTION */
  .background-image .display--flex {
    flex-direction: column;
    gap: 20px;
  }
  /* CITY SECTION */
  .city-container {
    flex-direction: column;
    gap: 18px;
    margin-bottom: 36px;
  }
  .city-img {
    width: revert;
  }
  /* LANGUAGES SECTION */
  .languages-container {
    margin-bottom: 48px;
  }
  /* HISTORICAL PLACES */
  .historical-section {
    flex-direction: column;
    gap: 18px;
  }
  .place2 .place {
    flex-direction: row-reverse;
  }
  .place2 img {
    float: left;
    margin-left: revert;
    margin-right: 10px;
  }
  .place2 {
    padding-inline: 10px;
  }
  .place {
    gap: revert;
  }
}
@media (max-width: 26.13em /* ~467px */) {
  /* GENERAL */
  h1 {
    font-size: 2rem;
  }
  /* INTRO SECTION */
  .intro-img {
    width: 15rem;
  }
  /* HISTORY SECTION */
  .city-text {
    float: left;
  }
  .city-img {
    margin-bottom: 20px;
    padding-right: 10px;
    width: 100%;
  }
}
