.intro-section {
  background-image: url(images/img-table-mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
}

.intro-img {
  width: 17rem;
}

/* ### CITY SECTION ### */
.img-city {
  width: 100%;
}
/* ### LANGUAGES SECTION ### */
table {
  width: 100%;
  margin-top: 18px;
}

tr {
  background-color: lightgray;
  height: 25px;
  font-size: 1.125rem;
}
th {
  width: 10rem;
}

/* ### HISTORICAL SECTION ### */
.places-img {
  float: left;
  object-fit: cover;
  width: 10rem;
  margin-right: 10px;
}

/* @@@@ QUERIES @@@@ */
@media only screen and (max-width: 45.5em) {
  .place-2 img {
    float: right;
    margin-left: 5px;
    margin-right: revert;
  }
}

@media only screen and (max-width: 27.6em) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  /* ### HISTORICAL SECTION ### */
  .historical-places {
    display: block;
    gap: 35px;
  }
  .place1 img,
  .place3 img {
    margin-left: 10px;
  }
  .places-img {
    margin-right: 10px;
  }
}
